In [612]:
import pandas as pd

In [613]:
class Dial():
    def __init__(self, list_length, position=0):
        self.list_length = list_length
        self.linked_list = range(0, list_length)
        self.position = position
        
    def click(self, click):
        click_direction, click_distance = click[0], int(click[1:])
        
        if click_direction == 'L':
            click_distance = click_distance * -1

        start = self.position
        self.position = self.position + click_distance
        self.position = self.state()
        
        zero_crossings = self.check_zero_crossings(start, click_distance)   

        return self.state(), zero_crossings
    
    def state(self):
        return self.linked_list[self.position%self.list_length]
    
    def set_state(self, state):
        self.position = state
        
    def check_zero_crossings(self, start, change):
        new = start + change
        extra = 0
        
        # if new < 0 need to tweak a little
        if new < 0:
            # stops at zero, add 1
            if new%self.list_length == 0:
                extra = 1
            # did it start at 0?
            if start == 0:
                # moved less than a dial so its zero
                if abs(change) < self.list_length:
                    return 0
                else:
                    # change >= 100
                    # eg change = -199 -> new = -199, so it should be 1
                    # eg change = -279 -> new = -279 so it should be 2
                    # eg change = -100 -> new = -100 so it should be 1 and extra = 1
                    return abs(new)//self.list_length + extra
            else:
                return abs(new//self.list_length) + extra
        
        else:
            # stops at zero, add 1
            if new == 0:
                extra = 1
            # if its > length, then this gives how many times it crosses 0
            # if new == 0 this should give zero
            crosses = new//self.list_length
            return crosses + extra

In [614]:
my_dial = Dial(100, 50)

In [615]:
my_dial.click('L1')
print(my_dial.state())
my_dial.click('R1')
print(my_dial.state())

49
50

In [616]:
my_dial.set_state(50)
my_dial.state()

50

In [617]:
instructions = pd.read_csv('data/day1.csv', header=None)
instructions #.sort_values(0)

        0
0     R27
1     R13
2      L8
3     R30
4     R22
...   ...
4540  R19
4541   R3
4542   R6
4543  L15
4544   L3

[4545 rows x 1 columns]

In [618]:
count = 0
for i in instructions[0].values:
    setpoint, _ = my_dial.click(i)
    if setpoint == 0:
        count = count + 1
        
print(count)

# 1132 should be the answer

1132

In [621]:
# TEST FOR ROUND 2 
instructions_test = ['L68', 'L30', 'R48', 'L5', 'R60', 'L55', 'L1', "L99", 'R14', 'L82'] # test by add 100, 200 to L99 and R14
my_dial.set_state(50)

c = 0
print(my_dial.position)
for n, i in enumerate(instructions_test):
    s, cross = my_dial.click(i)
    if n == 4 or n == 6:
        print('---')
    print(cross, s)
    c = c + cross

print(f'total : {c}')

# Expect: 1010 11 0101

50
1 82
0 52
1 0
0 95
---
1 55
1 0
---
0 99
1 0
0 14
1 32
total : 6

In [ ]:
my_dial.set_state(50)
my_dial.state()

count_w_crossings = 0
for i in instructions[0].values:
    setpoint, crossings = my_dial.click(i)
    count_w_crossings = count_w_crossings + crossings
print(count_w_crossings)

# 6606 - no
# 6738 - no
# 6848 - nooooo

# 6623 - YESSS

6623